body {

background-color: #7c3030;

color: #f0dc82;
font-family: "Times New Roman";
}

img {
  display: block;
  margin-top: 100%;
  margin-bottom: 100%;
  margin-right: 100%;
  margin-left: 50%;
  width: 100%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}



a {
  color: #f0dc82;
}